{% extends 'base.html.twig' %}

{% block title %}Edit AddressBilling{% endblock %}

{% block body %}
    <h1>Edit AddressBilling</h1>

    {{ include('address_billing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('address_billing_index') }}">back to list</a>

    {{ include('address_billing/_delete_form.html.twig') }}
{% endblock %}
